
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title> <%= title %> </title></title>
  </head>
  <body>
    <div> 
      <p id="abc"> <%= data %> </p>
    </div>
    <form action="/" method="post">
      <input id="enteredText" name="inputString"/>
      <button type="submit">enter</button>
    </form>
   

  </body>
</html>